*{
    font-family: 'Open Sans', sans-serif;  
}
/* HEADER  */
#name {
    text-align: center;
    margin: .2em 0 .2em 0;
    padding: 0;
}

#nav li {
display: block;
text-align: center;
padding: .75em;
}

a:link {
    text-decoration: none;
}

/* MAIN */
p {
    text-align: center;
}

img#profile-image {
    display: block;
    width: 15em;
    height: auto;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
} 

/* SECTIONS */
h2, h3 {
    text-align: center;
}

h2 {
    font-size: 1em;
    margin: 2.4em;
}

figure {
    margin: auto;
}

section #portfolio {
    text-align: center;
}

img.portfolio-img {
    display: block;
    width: 22em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h2#contact {
    margin-top: 8em;
}

#contact-nav {
    padding: 0em;
}

#contact-nav li {
    display: block;
}

#hide768 {
    display: block;
}

#end-nav{
    margin: 5.5em 0 2em 0;
    padding: 0em;

}

.show768 {
    display: none;
}

#nested {
    display: none;
}

/* FLEXBOX */

#name {
    display: flex;
    justify-content: center;
}
#nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#contact-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#end-nav {
    display: flex;
    justify-content: space-between;
}

/* ///////////////MEDIA QUERIES\\\\\\\\\  */

/* WHEN THE BROWSER IS ATLEAST 768PX */
@media screen and (min-width: 768px) {
    #name {
        text-align: center;
        margin: .2em 0 .2em 0;
        padding-top: 1em;
    }

    #nav li {
        text-align: center;
        padding: .75em;
    }  
    
    img#profile-image {
        display: block;
        width: 15em;
        height: auto;
        margin: 0em;
        padding-left: 1em;
    }

    #main-profile {
        padding: 1.5em;
    }

    #calcP {
        height: 66px;
    }

    h2#contact {
        margin-top: 5em;
    }

    li {
        padding: .75em 0 .75em 0;
    }

    #hide768{
        display: none;
    }

    .show768 {
        display: block;
        margin: 1em;
    }
    
    li#name-end {
        display: block;
        margin-left: 2em;
    }

    #end-nav {
        margin: 3em 0 .65em 0;
    }

    li {
        list-style: none;
    }

    #nested {
        display: inline;
    }


/* ///FLEXBOX\\\ */
    #name {
        display: flex;
        justify-content: center;
    }

    #nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    }

    #main-profile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    #portfolio-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #project1, #project2, #project3, #project4, #project5, #project6 {
        display: flex;
        flex-direction: column;
        flex-basis: 15%;
    }

    #end-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
    }

    .show3 {
        display: flex;
    }
}

/* WHEN THE BROWSER IS ATLEAST 1024PX */
@media screen and (min-width: 1024px) {

    #name {
        padding: 1em;
    }
    
    #profile-discrip {
        margin: 0;
    }

    #project1, #project2, #project3, #project4, #project5, #project6 {
        margin: .5em;
    }

    img.portfolio-img {
        display: block;
        width: 25em;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    img#profile-image {
        display: block;
        width: 17em;
        height: auto;
        margin: 0em;
        padding-left: 1em;
    }

    li {
        list-style: none;
    }



/* ///FLEXBOX\\\ */
    #main-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #main-profile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;   
    }

    #portfolio-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #project1, #project2, #project3, #project4, #project5, #project6 {
        display: flex;
        flex-direction: column;
    }
}